<h1>自分の題名</h1>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %> # 追加
<h3>一覧ページ</h3>
<%= link_to "新規投稿へ", new_tourist_path %>

<% if user_signed_in? %>
  <%= link_to "観光地従事者向けマイページへ", user_path(current_user.id) %>
<% end %>

<%= link_to "カレンダーへ", :controller => "blogs", :action => "index" %>

<div class="tourists-container">
  <% @tourists.each do |t| %>
    <div class="touristsite">
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= find_youtube_url(t.youtube_url) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
    <%= image_tag t.image_url, size: "250x200" if t.image? %>
    <%= t.user.email %>
      <%= t.name %>
      <%= t.what %>
      <%= t.how %>
      <%= t.more %>
      <%= t.access %>
      <%= link_to "詳細へ", tourist_path(t.id) %>
      

    <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
          <%= button_to tourist_like_path(id: t.id, tourist_id: t.id), method: :delete do %>
            <i class="fas fa-heart"></i><%= t.likes.count %>
            <p>いいねを取り消す</p><%= t.likes.count %>
          <% end %>
      <% else %>
          <%= button_to tourist_likes_path(id: t.id, tourist_id: t.id), method: :post do %>
             <i class="fas fa-heart"></i><%= t.likes.count %>
              <p>いいね</p><%= t.likes.count %>
          <% end %>
      <% end %>
    <% else %>
      <p>いいねの数 = </p><%= t.likes.count %>
    <% end %>
    </div>
    <%= image_tag t.user.image_url, size: "250x200" if t.user.image? %>
    
  <% end %>

</div>